<%= error_messages_for 'content' %>

<!--[form:content]-->
<p><label for="content_title">Title</label><br/>
<%= text_field 'content', 'title'  %></p>

<p><label for="content_description">Description</label><br/>
<%= text_area 'content', 'description'  %></p>
<!--[eoform:content]-->

