<h1>Editing content</h1>

<% form_tag :action => 'update', :id => @content do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @content %> |
<%= link_to 'Back', :action => 'list' %>
